/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 20px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

a {
    color: #3ca733;
    text-decoration: underline;
}
a:hover, a:focus {
    color: #276c21;
    text-decoration: none;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
@font-face {
  /*font-family: 'Conv_Intro';
    src: url('fonts/Intro.eot');
    src: local('☺'), url('fonts/Intro.svg') format('svg'), url('fonts/Intro.woff') format('woff'), url('fonts/Intro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;*/
  font-family: 'Conv_Intro';
  src: url('../fonts/intro-webfont.eot');
  src: url('../fonts/intro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/intro-webfont.woff') format('woff'), url('../fonts/intro-webfont.ttf') format('truetype'), url('../fonts/intro-webfont.svg#intro_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  width: 100%;
    background: #ffffff url("../images/body-bg.png") repeat-x scroll 0 244px;

}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #ccc #ccc #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.product-price-1 {
    color: #009900;
    float: right;
    font-family: Conv_Intro,Tahoma;
    font-size: 30px;
    margin: 0 0 0 5px;
}

.product-price-1 span {
    display: block;
    font-size: 12px;
}
.div-table{
    display: table;
}
.div-row {
    display: table-row;
}
.div-cell {
    display: table-cell;
}

.good-count .label {
    color: #8c8c8c;
    float: left;
    height: 20px;
    line-height: 11px;
    margin: 0 0 0 5px;
}

.good-count .icon.count1 {
    background: rgba(0, 0, 0, 0) url("../images/nalichee.png") no-repeat scroll -40px 2px;
}
.good-count .icon {
    float: left;
    height: 20px;
    width: 38px;
}
.good-count {
    height: 20px;
}

.new-ico:after{
    width: 52px;
    height: 52px;
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/icon_new.png);
    background-repeat: no-repeat;
    right: 0;
    top: 0;
}
/* Header
-----------------------------------------------------------------------------*/
.header {

}
.head_bg {
    background: #f7f7f7 url("../images/head-bg.png") repeat-x scroll 0 100%;
    height: 244px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

header::after {
    clear: both;
    content: "";
    display: block;
}

header .slogan {
    color: #9d9fac;
    font-size: 10px;
    line-height: 1.2;
    padding: 0 0 0 27px;
    position: relative;
    top: -4px;
}
.top-section-wrapper::after {
    clear: both;
    content: "";
    display: block;
}
.top-section-wrapper {
    padding-bottom: 6px;
}
.logo-wrapper a img{
   width: 78%;
}
.logo-wrapper {
    float: left;
    width: 24%;
    padding-left: 20px;
}
.top-right-block {
    float: right;
    width: 74%;
}
.callback-number{
  font-size: 20px;
  text-decoration: underline;
  padding-bottom: 5px;
}
.callback-wrapper {
     padding: 10px 0 10px 25px;
}
.callback-link{
  color: #000;
    font-size: 11px;
    padding-left: 25px;
}
.phone-icon{
    background: rgba(0, 0, 0, 0) url("../images/top_phone.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 19px;
    margin: 3px 13px 0 0;
    width: 12px;
}
/*start component auth*/
.auth-block .auth-enter{
  padding:8px 14px;
}
.top-auth {
    line-height: 16px;
    margin-bottom: 0px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-auth .item {
    background: #fff0be none repeat scroll 0 0;
}
.does-enter, .do-enter {
    padding: 8px 14px;
}

.do-enter a:first-child {
    background: #fff0be none repeat scroll 0 0;
    border-bottom: medium none;
    padding: 8px;
}
.do-enter a {
    border-bottom: 1px solid;
    font-size: 12px;
    text-decoration: none;
}
.top-auth .signin span{
     border-bottom: 1px solid;
     font-weight: bold;
}
.top-auth .signin span:hover{
    color: red;
}
/*end component auth*/

/*start component select city*/
.city-block {
    display: inline-block;
    padding-left: 10%;
    text-align: center;
    width: 38%;
}
.city-not-select {
    margin-top: 0px;
    text-align: left;
    background: #ededed none repeat scroll 0 0;
    box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.35);
    display: inline-block;
    min-width: 245px;
    padding: 8px;
}
.city-name-block{
  color: #838382;
    padding: 0 0 15px;
}
.city-label {
    font-size: 12px;
}
.city-name{
  color: #e08b47;
    display: inline;
    float: none;
    margin: 0 0 0 3px;
}
.city-block .city-buttons .btn_yes {
    background: #090 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    margin: 0 5px 0 0;
    width: 72px;
}
.city-block .city-buttons .btn_other {
    background: #dcdcdc none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #838382;
    width: 72px;
}
header .other_block .block_item {
    display: inline-block;
    float: none;
    text-align: left;
    vertical-align: top;
}
header .select_city {

}
header .select_city .city_name .icon {
    background: rgba(0, 0, 0, 0) url("/images/city_icon.png") no-repeat scroll 0 0;
    float: left;
    height: 30px;
    margin: 5px 0 0;
    width: 33px;
}
header .select_city .city_name .name {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 1.3;
    margin: 0 0 0 15px;
    width: 84%;
}
header .select_city .city_name .name .city {
    color: #e08b47;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
header .select_city .city_name .name .address {
    color: #a2a2a1;
}

header .select_city .job_time .job_name {
    color: #a2a2a1;
    display: block;
    float: left;
    margin: 0 4px 0 0;
    width: 25%;
}

header .select_city .job_time .job_val {
    color: #e08b47;
    display: block;
    float: left;
    width: 61%;
}
header .select_city .city_name .name .city .arrow {
    border-color: #dce7e3 transparent transparent;
    border-style: solid;
    border-width: 8px 6.5px 0;
    display: inline-block;
    height: 0;
    margin: 0 0 0 5px;
    width: 0;
}
header .select_city {
    padding-left: 60px;
    text-align: left;
    display: none;
}
/*end component select city*/

/*start component reviews-top*/
.reviews-block a {
     color: #e08b47;
    display: inline-block;
    padding-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
    width: 65%;
    font-size: 12px;
     line-height: 1.3;
}
.reviews-block {
    position: relative;
}
.reviews-block::before {
  background: rgba(0, 0, 0, 0) url("../images/review_icon.png") repeat scroll 0 0;
    content: "";
    display: block;
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 31px;
}
.reviews-block {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 15%;
}
/*end component review-top*/

/*start component basket-small*/
.basket-small .name .sum {
    color: #a2a2a1;
}
.basket-small.block-item {
    display: inline-block;
    line-height: 1.3;
    padding-left: 50px;
    position: relative;
    vertical-align: top;
   width: 13%;
}
.basket-small.block-item::before {
  background: rgba(0, 0, 0, 0) url("../images/basket_icon.png") repeat scroll 0 0;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 38px;
}
.basket-small .name > a {
  color: #e08b47;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
/*end component basket-small*/

/*start component price list*/
.price-list-block {
    display: inline-block;
    line-height: 1.3;
    padding-left: 45px;
    position: relative;
    vertical-align: top;
    width: 12%;
}
.price-list-block a{
  color: #e08b47;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.price-list-block .price-list-last-update{
  color:#a2a2a1;
}
.price-list-block::before {
  background: rgba(0, 0, 0, 0) url("../images/price_icon.png") repeat scroll 0 0;
    content: "";
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}

/*end component price list*/

/*start component top menu*/
.top-menu-wrapper {
    float: right;
    margin: 0 40px 0 0;
    padding-bottom: 10px;
}
.top-menu-wrapper .top-menu li {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    position: relative;
}
.top-menu-wrapper .top-menu li:after{
  background: #5d5d5d none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    display: block;
    height: 2px;
    left: -12px;
    position: absolute;
    top: 5px;
    width: 4px;
    height: 4px;
}
.top-menu-wrapper .top-menu li:first-child:after{
  display: none;
}
.top-menu-wrapper .top-menu li a {
    border-bottom: 1px solid;
    color: #5d5d5d;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}

.top-menu-wrapper .top-menu li:last-child a {
    margin-right: 0px;
 
}
/*end component top menu*/

/*start component search*/
.cat-menu-mobile{
    display: none;
}
.search-block {
    background: rgba(0, 0, 0, 0) url("../images/bg_search.png") repeat scroll 0 0;
    box-shadow: 0 2px 3px #ddd;
    height: 47px;
    padding: 8px 0 0;
    position: relative;
    width: 100%;
    clear: both;
     margin-bottom: 10px;
     padding-left: 12px;
     padding-right: 12px;
     margin-left: -12px;
}
.cat-menu-bt {
    cursor: pointer;
    display: none;
    font-family: Conv_Intro;
    font-size: 14px;
    height: 38px;
    line-height: 25px;
    margin: 0;
    min-height: 20px;
    padding: 6px 6px 6px 0;
    position: relative;
    text-decoration: none;
    width: 110px;
}
.cat-menu-bt:hover{
    background-color: #51a351;
    background-position: 0 -15px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.btn-success {
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.cat-menu-bt i {
    height: 10px;
    margin-left: 5px;
    padding-left: 0;
    position: absolute;
    top: 13px;
    width: 10px;
}
.icon-list {
    background-position: -360px -48px;
     background-image: url("../images/glyphicons-halflings-white.png");
}
.search-select .jq-selectbox__select{
   background: #dce7e3 none repeat scroll 0 0;
    border-top: 1px solid #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #000;
    height: 36px;
    padding: 0 45px 0 10px;
    width: 87%;
    padding-right: 10px;

}
.search-select .jq-selectbox__select-text {
    padding-top: 8px;
}
.search-select .jq-selectbox__select:hover{
    background: #dce7e3 none repeat scroll 0 0;
}
.search-select .jq-selectbox__trigger {
    border-left: 0px solid #ccc;
}
.search-input{
    border-bottom-colors: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    border-color: #e3e3e3;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #000;
    min-height: 15px;
    padding: 10px 9px;
    width: 93%;
     border-radius: 3px;
    box-shadow: 2px 3px 10px #ececec inset;
}
.search-btn{
    background: #090 none repeat scroll 0 0;
    border-color: #fff;
    border-image: none;
    border-style: solid none none;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 36px;
    left: -2px;
    line-height: 33px;
    outline: 0 none;
    overflow: visible;
    padding: 0 20px;
    position: relative;
    width: 83px;
     font-family: Conv_Intro;
}
.div-cell.search-text-input {
    width: 100%;
}
.div-cell.search-button {
    text-align: left;
}
.div-cell-input.div-cell.search-wrapper-btn > input {
    display: inline-block;
}
.search-inputs .div-cell-input {
    width: 32%;
}
.div-cell-input.div-cell.search-wrapper-btn {
    width: 36%;
    text-align: right;
}
.search-select{
    width: 100%;
}
.search-wrapper-btn{
    position: relative;
}

.search-inputs {
    margin-left: 25%;
}
.search-inputs .div-table{
      width: 100%;
}
.search-inputs .jq-selectbox__dropdown{
    width: 87%;
}

.search-block::before {
    bottom: -13px;
    content: "";
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent #c1c1c1 transparent transparent;
}

.search-block::after {
    bottom: -13px;
    content: "";
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 0;
    border-color: #c1c1c1 transparent transparent transparent;
}
/*end component search*/

/*start component catalog left menu*/
.catalog-menu{
    margin-left: 10px;
    padding-bottom: 10px;
}
.catalog-menu h3 {
    text-align: center;
    background: #dce7e3 none repeat scroll 0 0;
     color: #009900;
    font-family: Conv_Intro;
    font-size: 22px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 10px;
}
.catalog-menu .nav_list {
    list-style:none;
}
.catalog-menu .nav_list li {
    position:relative;

}
.catalog-menu .nav_list .root-item>a {
    background: #d0cecf none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    color: #000;
    display: table-cell;
    font-size: 18px;
    height: 34px;
    min-height: 34px;
    outline: medium none;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 278px;
    font-size: 18px;
    text-transform: uppercase;
}
.nav_list > li > ul {
    margin:0;
    display:none;
}

.catalog-menu .nav_list .root-item>ul>li>a  {
    background: #dce7e3 none repeat scroll 0 0;
    border-bottom: 1px solid #d0cecf;
    color: #000;
    display: table-cell;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    min-height: 34px;
    padding: 7px 2px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    width: 355px;

}
.catalog-menu .nav_list .root-item>ul>li>a:hover, .catalog-menu .nav_list .root-item>ul>li>a.selected{
    color: #fff;
    background: #017f01 none repeat scroll 0 0; 
}
.catalog-menu .nav_list .root-item>ul{
    margin-left: 10px;
    margin-right: 10px;
}
.nav_list ul.last-item-menu {
 background: #fff none repeat scroll 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding: 16px;
    position: absolute;
    right: -485px;
    text-shadow: none;
    top: 0;
    width: 454px;
    z-index: 10;
    display: none;
}
.triangle-left {
    color: #fff;
    cursor: default;
    font-size: 50px;
    height: 50px;
    left: -30px;
    line-height: 50px;
    overflow: hidden;
    padding-left: 10px;
    position: absolute;
    text-shadow: -8px 5px 5px rgba(0, 0, 0, 0.05);
    top: 0;
    width: 20px;
}

.last-item-menu::before {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 12.5px 15px 12.5px 0;
    color: #fff;
    content: "";
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    width: 0;
}
.last-item-menu ul {
    border: medium none;
    float: left;
    margin: 0 0 10px 14px;
    width: 200px;
}
.last-item-menu ul a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: medium none;
    color: #008a00;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    margin: 0 0 0 36px;
    min-height: 12px;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    text-shadow: none;
 
}
.last-item-menu li{
    clear: left;
    margin: 0 0 20px;
}
.menu-count{
    background: #30a813 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fffffe;
    display: block;
    font-size: 10px;
    height: 16px;
    left: 0;
    line-height: 15px;
    margin: 0;
    min-width: 12px;
    padding: 2px 4px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 2px 3px #ccc;
    top: 0;

}
.root-item.active a:hover + .last-item-menu, .nav_list ul.last-item-menu:hover {
    display: block;
}
/*end component catalog left menu*/

/*start catalog menu mobile*/
.catalog-menu-mobile .catalog-menu {
    margin-left: 0;
    position: absolute;
    width: 165px;
    z-index: 2;
    display: none;
}
/*end catalog menu mobile*/
/* Middle
-----------------------------------------------------------------------------*/
.content {
     float: left;
     width: 74.2%;
}

.left-content {
    float: left;
    width: 23%;
    margin-right: 2%;
}
.container{
    margin: auto;
    position: relative;
}
.center-section::after {
    clear: both;
    content: "";
    display: block;
}
.container .container-wrapper {
    background: rgba(0, 0, 0, 0) url("../images/bg_body.png") repeat scroll 0 0;
    position: relative;
     padding-bottom: 20px;
}
.container .corner1 {
    background: rgba(0, 0, 0, 0) url("../images/corner/1.png") repeat scroll 0 0;
    height: 91px;
    position: absolute;
    right: -94px;
    top: -1px;
    width: 264px;
}
.container .corner2 {
    background: rgba(0, 0, 0, 0) url("../images/corner/2.png") repeat scroll 0 0;
    height: 231px;
    left: -40px;
    position: absolute;
    top: 280px;
    width: 84px;
     z-index: -1;
}
.container .corner3 {
    background: rgba(0, 0, 0, 0) url("../images/corner/3.png") repeat scroll 0 0;
    height: 221px;
    position: absolute;
    right: -40px;
    top: 520px;
    width: 80px;
}
.container .corner4 {
    background: rgba(0, 0, 0, 0) url("../images/corner/2.png") repeat scroll 0 0;
    height: 231px;
    left: -40px;
    position: absolute;
    top: 780px;
    width: 84px;
}

.container .corner5 {
    background: rgba(0, 0, 0, 0) url("../images/corner/3.png") repeat scroll 0 0;
    height: 221px;
    position: absolute;
    right: -40px;
    top: 1020px;
    width: 80px;
}

.container .corner6 {
    background: rgba(0, 0, 0, 0) url("../images/corner/2.png") repeat scroll 0 0;
    height: 231px;
    left: -40px;
    position: absolute;
    top: 1380px;
    width: 84px;
}
.container .corner7 {
    background: rgba(0, 0, 0, 0) url("/../images/corner/3.png") repeat scroll 0 0;
    height: 221px;
    position: absolute;
    right: -40px;
    top: 1520px;
    width: 80px;
}
.body-wrapper {
  max-width: 100%;
    min-width: 340px;
    overflow: hidden;
    padding: 0 23px 0px;
    position: relative;
}
.body-wrapper > .container {
    box-shadow: 0 0 15px #ccc;
}
.container{
    max-width: 1600px;
    min-width: 340px;
}
.container .container-wrapper.header-container{
    padding-bottom: 0px;
}
/*start component bottom menu*/
.bottom-menu ul li {
    float: left;
    margin: 10px 0 0;
    padding: 0;
    width: 50%;
}.bottom-menu-wrapper.footer-cell {
    float: right;
    width: 24%;
}
.bottom-menu-wrapper.footer-cell a{
    color: #fff;
}
.bottom-menu::after {
    clear: both;
    content: "";
    display: block;
}
.bottom-menu-wrapper.footer-cell li:nth-child(2n) {
    text-align: right;
}
/*end component bottom menu*/


/*start component main slider*/
.main-slider{
    background-image: url(../images/bg_slide_index.png);
    position: relative;
}
.main-slider .slide-left {
    float: left;
    width: 48.5%;
    margin-left: 6.5%;
}
.main-slider .slide-right {
    float: left;
    width: 45%;
}
.main-slider .slide-wrapper::after {
    clear: both;
    content: "";
    display: block;
}
.main-slider .slide-name {
    color: #000;
    font-family: Conv_Intro,Tahoma;
    font-size: 22px;
    line-height: 22px;
    margin: 36px 20px 12px 0;
    text-transform: uppercase;
}
.main-slider .slide-image {
    margin-left: 13%;
    max-height: 340px;
    padding: 36px 10px 0 0;
    width: 80%;
}
.main-slider .slide-image img {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}
.main-slider .slide-text{
    color: #5f5f5f;
    padding: 0 20px 20px 0;
    line-height: 1.7em;
}
.main-slider .slide-price{
    color: #009900;
    font-family: Conv_Intro,Tahoma;
    font-size: 30px;
    line-height: 18px;
    margin: 0 0 0 16px;
}
.main-slider .slide-price span{
    font-size: 12px;
}
.main-slider .slide-see-detail a{
    margin-top: 15px;
     border-bottom-colors: none;
     border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    background: #009900 none repeat scroll 0 0;
    border-color: #fff;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: medium none;
    overflow: visible;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Conv_Intro;
}
.main-slider .flex-prev {
    background: rgba(0, 0, 0, 0) url("/images/bg_direction_nav_gsm.png") no-repeat scroll 0 0;
    height: 18px;
    width: 18px;
    display: block;
    float: left;
    bottom:35px;
    position: relative;
}
.main-slider .flex-next {
    background: rgba(0, 0, 0, 0) url("/images/bg_direction_nav_gsm.png") no-repeat scroll 100% 0;
    height: 18px;
    width: 18px;
    display: block;
    float: left;
    margin-left: 15px;
    bottom:35px;
    position: relative;
}

.main-slider .custom-navigation {
    bottom: 15px;
    margin-left: 20px;
    width: 65px;
    position: absolute;
    left: 0px;
}
.main-slider .slide-soc-icons {
    margin-top: 20px;
}
.main-slider .slide-wrapper{
    padding-bottom: 52px;
}
.main-slider .recomendation{
    border: 2px solid #009900;
    border-radius: 4px;
    color: #009900;
    display: block;
    font-weight: bold;
    line-height: 14px;
    margin: 6px auto 0;
    padding: 0 16px;
    text-transform: uppercase;
    width: 93px;
}
.main-slider .flex-control-paging {
    border: 2px solid #009900;
    border-radius: 4px;
    bottom: 30px;
    float: right;
    height: 18px;
    padding: 0 2px;
    position: absolute;
    right: 20px;
    width: auto;
}

.main-slider .flex-control-nav li a {
    background: rgba(0, 0, 0, 0) url("../images/slider_nav.png") repeat scroll 0 0;
    height: 15px;
    width: 6px;
}
.main-slider .flex-prev.flex-disabled, .main-slider .flex-next.flex-disabled{
     cursor: default;
    opacity: 0.3 !important;
}
.main-slider .good-share {
    float: left;
}
.good-share {
    margin-top: 4px;
}

.main-slider .good-share .title {
    float: left;
    font-family: Conv_Intro;
    line-height: 17px;
    padding: 0 13px;
}
.main-slider .good-share .title {
    background: #b0b0b0 none repeat scroll 0 0;
    border-top: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
}
/*end component main slider*/


/*start component promo new product slider*/
.new-product-slider .product-cell{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    height: auto;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-product-slider .product-cell:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.new-product-slider .product-name a {
    color: #41653f;
}
.new-product-slider .product-name{
    height: 40px;
    margin: 0 0 8px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.7em;
}
#new-product{
    margin-left: -1%;
    width: 102%;
}
.new-product-slider .slick-slide img {
    display: inline;
    width: 100%;
}

.new-product-slider .new-product-img {
    display: block;
    text-align: center;
    padding: 0 0 8px;
}
.component-head{
    font-family: Conv_Intro;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0) url("../images/footer-bg.png") repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    padding: 8px 12px 8px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #000;
    text-transform: uppercase;
    width: 101%;
    margin-bottom: 20px;
    margin-top: 15px;
}
.component-head::after {
    border-color: #090  transparent transparent;
    border-style: solid;
    border-width: 12px 12px 0 0;
    bottom: -11px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}
.product-buy-count{
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #090;
    display: block;
    float: left;
    text-align: center;
    width: 20px;
    border-radius: 3px;
    background: #fff none repeat scroll 0 0;
    min-height: 15px;
    padding: 10px 9px;
}
.addtocart{
    padding: 0 6px;
    margin: 0 0 0 18px;
    border-bottom-colors: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    background: #090 none repeat scroll 0 0;
    border-color: #fff;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #fff;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    outline: 0 none;
    overflow: visible;
    text-transform: uppercase;
    font-family: Conv_Intro;
}
.new-product-slider .buy-row-product {
    clear: both;
}
.buy-row-product{
    padding-top: 15px;
}
.buy-row-product::after {
    clear: both;
    content: "";
    display: block;
}

.store-count-row {
    margin-top: 20px;
}
.new-product-slider .slick-next {
    position: absolute;
    right: 20px;
    top: -5px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) url("/images/bg_direction_nav_gsm.png") no-repeat scroll 100% 0;
    display: block;
    height: 18px;
    margin-left: 15px;
    width: 18px;
}
.new-product-slider .slick-prev {
    position: absolute;
    left: 25px;
    top: -5px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) url("/images/bg_direction_nav_gsm.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 18px;
    width: 18px;
}
.new-product-slider .slick-prev.slick-disabled, .new-product-slider .slick-next.slick-disabled {
    cursor: default;
    opacity: 0.3 !important;
}

/*end component promo new product slider*/

/*start component Hit product*/
.hit-product .product-cell{
 background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: inline-block;
    height: 295px;
     margin: 10px 12px;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width: 18%;
    float: left;
}
.hit-product .product-cell:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
   height: 360px;
}
.hit-product .product-name a {
    color: #41653f;
}
.hit-product {
    height: 410px;
}
.hit-product .product-name{
    height: 40px;
    margin: 0 0 8px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.7em;
}
.hit-product .product-items{
    margin-left: -1%;
    width: 102%;
}
.hit-product img {
    display: inline!important;
    width: 100%;
}

.hit-product .new-product-img {
    display: block;
    text-align: center;
    padding: 0 0 8px;
}
.hit-product .buy-row-product {
    clear: both;
    display: none;
}
.hit-product .product-cell:hover .buy-row-product{
    display: block;
}
.hit-product .slick-list {
 
}
.hit-product .product-cell{}
/*end component hit product*/


/*start component news list main page*/

.news-list-main-page .title {
    background: #dad8d9 none repeat scroll 0 0;
}
.news-list-main-page .title {
    margin-left: -12px;
    padding-left: 12px;
    position: relative;
    width: 100%;
}
.news-list-main-page .title:before{
    border-color: transparent #ccc transparent transparent;
    border-style: solid;
    border-width: 0 12px 12px 0;
    bottom: -11px;
    content: "";
    height: 0;
    left: 0px;
    position: absolute;
    width: 0;  
}
.news-list-main-page .title {
    color: #009900;
    font-family: Conv_Intro;
    font-size: 22px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
} 

.news-list-main-page .item {
    background: rgba(0, 0, 0, 0) url("../images/mark_news.png") no-repeat scroll 0 8px;
    margin-top: 20px;
    padding: 0 0 0 15px;
}

.news-list-main-page .item .date {
    font-weight: bold;
}  

.news-list-main-page .item .devide {
    background: #e3e3e3 none repeat scroll 0 0;
    height: 1px;
    margin-top: 6px;
}
.news-list-main-page .all {
    margin: 20px 0;
    padding-left: 10px;
}    
/*end component news list main page*/

/*start component bread-crumbs*/
.breadcrumb {
    font-size: 12px;
    list-style: outside none none;
    margin: 2em 0 1em;
    padding: 0;
}
.breadcrumb > li > a {
    color: #000;
}
.breadcrumb > li > .divider {
    padding: 0 8px !important;
    position: relative !important;
    width: auto !important;
}
.breadcrumb > li > .divider {
    color: #090;
    display: inline;
    padding-left: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 18px;
}
.breadcrumb > li > a {
    color: #000;
}
.breadcrumb > li {
    display: inline-block;
}
/*end component bread-crumbs*/

/*start component section header*/
.title1 {
    color: #009900;
    font-size: 18px;
    font-weight: bold;
    margin: 1em 0;
    text-align: left;
    text-transform: uppercase;
}
.title1 h1 {
    color: #009900;
    font-size: 18px;
    font-weight: bold;
    margin: 1em 0;
    text-align: left;
    text-transform: uppercase;
}
/*end component section header*/

/*start component catalog-list*/
.catalog-list-wrapper.list-view .catalog-list-cell{
    height: 286px;
    margin-bottom: 12px;
    margin-left: 1.7%;
    width: 18.5%;
    float: left;
    margin: 0 0 20px 20px;   
    position: relative;
    cursor: pointer;
}

.catalog-list-wrapper.list-view .catalog-list-cell .catalog-list-img {
    text-align: center;
}
.catalog-list-wrapper.list-view .product-wrapper{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  
    position: relative;
    height: 286px;
}
.catalog-list-wrapper.list-view .product-wrapper:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.catalog-list-wrapper.list-view .product-wrapper2 {
    height: 286px;
    padding: 10px;
}
.catalog-list-wrapper.list-view .catalog-list-cell:nth-child(2),
.catalog-list-wrapper.list-view .catalog-list-cell:nth-child(7){
    margin-left: 0px;
}
.catalog-list-wrapper.list-view .catalog-list-cell:hover .catalog-list-wrapper.list-view .product-wrapper {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
}
.catalog-list-wrapper.list-view .catalog-table{
    display: none;
}
.catalog-list-wrapper.list-view .catalog-list-count-item {
    bottom: 10px;
    position: absolute;

}
.catalog-list-wrapper.list-view .catalog-list-buy-count {
    bottom: 40px;
    position: absolute;
    display: none;
}
.catalog-list-wrapper.list-view .buy-btn {
    bottom: 42px;
    left: 45px;
    position: absolute;
    display: none;
}
.catalog-list-wrapper.list-view .proudct-price {
    margin-top: 10px;
}
.catalog-list-wrapper.table-view .catalog-list-name a{  
    color: #3ca733;
}
.catalog-list-wrapper.list-view .catalog-list-name a{
    color: #41653f;
}
.catalog-list-wrapper.list-view .catalog-list-cell:hover{
    height: 286px;
    z-index: 2;
}
.catalog-list-wrapper.list-view .catalog-list-cell:hover .product-wrapper{
    height: 330px;
}
.catalog-list-wrapper.list-view .catalog-list-cell:hover .catalog-list-buy-count{
    display: block;
}
.catalog-list-wrapper.list-view .catalog-list-cell:hover .buy-btn{
    display: block;
}
.catalog-list-wrapper.table-view .buy-btn{
    display: block;
}
.catalog-list-wrapper.table-view .catalog-list-buy-count {
    display: inline-block;
}
.catalog-list-wrapper.table-view .catalog-list{
    display: table;
    width: 100%;

}
.catalog-list-wrapper.table-view .catalog-inputs-wrapper {
    text-align: center;
}
.catalog-list-wrapper.table-view .catalog-list-cell{
    display: table-row;
}
.catalog-list-wrapper.table-view .catalog-list-cell .product-wrapper{
    display: table-cell;
}
.catalog-list-wrapper.table-view .catalog-list-cell .product-wrapper2{
    display: table;
    width: 100%;
    margin-bottom: 15px;
    height: 110px;
    border-bottom: 1px solid #009900;
    position: relative;
}
.catalog-list-wrapper.table-view .catalog-list-cell .product-wrapper2>div{
    display: table-cell;
    vertical-align: top;
}
.catalog-list-wrapper.table-view .catalog-list-img img {
    width: 100px;
}

.catalog-list-wrapper.table-view .catalog-table.section-name {
    padding-bottom: 40px;
}

.catalog-list-wrapper.table-view .catalog-table.label-count {
    color: #8c8c8c;
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    vertical-align: top;
}
.catalog-list-wrapper.table-view .store-count-row {
    margin-top: 10px;
}

.catalog-list-wrapper.table-view .proudct-price.product-price-1 {
    float: none;
    padding-left: 10px;
    font-size: 24px;
}

.catalog-list-wrapper.table-view .proudct-price.product-price-1 > span {
    display: inline-block;
    padding-left: 8px;
}
.catalog-list-wrapper.table-view .catalog-list-img {
    padding-left: 25px;
    padding-right: 10px;
     
}
.catalog-list-wrapper.table-view .catalog-list-buy-row {
    padding-right: 30px;
    text-align: center;
}
.catalog-list-wrapper.table-view .catalog-list-input {
    padding-right: 25px;
    text-align: center;
    width: 17%;
}
.catalog-list-wrapper.table-view  .product-wrapper2.table-header > div:last-child {
    text-align: center;
     width: 31%;
}
.catalog-list-wrapper.table-view .product-wrapper2.table-header > div:nth-child(1) {
    text-align: left;
    width: 17%;
}
.catalog-list-wrapper.table-view .product-wrapper2.table-header {
    border: 1px solid #009900;
    height: 28px;
    padding-left: 15px;
    padding-top: 5px;
    vertical-align: middle;
    width: 99%;
}
.catalog-inputs-wrapper::after {
    clear: both;
    content: "";
    display: block;
}
.catalog-list-wrapper .label {
    width: 50px;
}
.bar {
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
}

.catalog-list-wrapper .bar .item.label {
     margin: 0 35px 0 0;
}
.catalog-list-wrapper .bar .item {
    display: inline;
    margin-left: 0;
}
.bar .item {
    display: inline-block;
    margin-right: 1%;
    outline: medium none !important;
}
.catalog-list-wrapper .item {
    float: left;
    margin: 0 0 20px 20px;
    position: relative;
}
.catalog-list-wrapper .bar .item {
    display: inline;
    margin-left: 0;
}
.catalog-list-wrapper .active {
    position: relative;
}
.catalog-list-wrapper .bar .item a {
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 1px dashed;
}
.catalog-list-wrapper .bar .item a:hover{
    border: none;
}
.catalog-list-wrapper .bar .item.active a {
    border: 1px solid #009900;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
}
.bar::after {
    clear: both;
    content: "";
    display: block;
}
/*end component catalog-list*/

/*start component product detail*/

.product-detail-wrapper .left-block {
    float: left;
    margin-right: 10%;
    width: 50%;
}
.product-detail-wrapper .right-block {
    float: left;
    width: 36%;
}
.product-detail-wrapper  .good .add-bakset .item.price {
    margin-bottom: 32px;
}
.product-detail-wrapper .add-bakset .pad10 {
    float: none;
    margin: 0;
    text-align: center;
}
.product-detail-wrapper .rebrand-block-goods-page .pad10 {
    padding: 10px;
}
.product-detail-wrapper label.price {
    color: #090;
    display: inline-block;
    float: left;
    font-family: Conv_Intro,Tahoma;
    font-size: 38px;
}
.product-detail-wrapper .opt-price-block {
    border-bottom: 1px solid #e9ebed;
    border-top: 1px solid #e9ebed;
    display: block;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 7px;
}

.product-detail-wrapper .opt-price-txt {
    display: block;
    padding: 5px;
}
.product-detail-wrapper  .opt-price {
    display: block;
    width: 100%;
    font-size: 22px;
}
.product-detail-wrapper  .fs14 {
    font-size: 14px !important;
}
.clearfix{
    clear: both;
}
.product-detail-wrapper .good-count {
    height: 20px;
}
.product-detail-wrapper .submit.btn.btn-success {
     font-family: Conv_Intro;
}
.product-detail-wrapper .mr0 {
    font-size: 18px;
}
.product-detail-wrapper .btn{
    font-family: Conv_Intro;
}
.product-detail-wrapper .delivery-btn.btn.btn-grey{
    font-size: 12px;
}
.product-detail-wrapper .good-share .title {
    background: #b0b0b0 none repeat scroll 0 0;
    border-top: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
}
.product-detail-wrapper .text {
    margin-top: 36px;
    clear: both;
    display: inline-block;
}
.delivery-block {
    display: none;
}
/*end component product detail*/

.pr-block img {
    width: 100%;
}

.pr-block {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.catalog-list-wrapper.table-view .addtocart {
    margin-top: 34px;

}

/*start component city list*/
.modal-header {
    border-bottom: 1px solid #eee;
    padding: 9px 15px;
    text-decoration: 
}
.modal-header h2{
    text-align: center;
}
.modal-footer {
    background-color: #f5f5f5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 0 #fff inset;
    margin-bottom: 0;
    padding: 14px 15px 15px;
    text-align: center;
}
.city-list {
    padding-bottom: 20px;
    padding-top: 20px
}
.city-list > ul {
    display: inline-block;
    line-height: 1.7em;
    margin-right: 20px;
    vertical-align: top;
}

.city-list a{
     border-bottom: 1px solid;
    font-weight: bold;
    text-decoration: none;  
}

/*end component*/

/*start reviews-form*/
.reviews-form {
	background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 550px;
	color: #3f3f3f;
	position: absolute;
}
.rf-title{
	background: rgba(0, 0, 0, 0) url("../images/bg_top_panel.png") repeat scroll 0 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 37px;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
	width: 100%;
}
.rf-tri-top-left{
	background: rgba(0, 0, 0, 0) url("../images/popup-title-left.png") no-repeat scroll 0 0;
    height: 47px;
    left: -12px;
    position: absolute;
    top: 0;
    width: 12px;
}
.rf-tri-top-right{
	background: rgba(0, 0, 0, 0) url("../images/popup-title-right.png") no-repeat scroll 0 0;
    height: 47px;
    position: absolute;
    right: -12px;
    top: 0;
    width: 12px;
}
.rf-close{
	background: transparent url("../images/gui.png") no-repeat scroll 1px -775px;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 1px;
    top: 6px;
    width: 22px;
}
.rf-content label{
	width:150px; 
	display:block; 
	float:left;
	margin-top: 7px;
}
.rf-span5{
	font-weight: bold;
	text-align: right;
	font-size: 12px;
	margin-left: 3px;
}
.rf-span5-1{
	color: #009900;
	font-size: 18px;
	vertical-align: middle;
	margin-left: 2px;
}
.rf-input{
	border: 1px solid #e3e3e3;
	width: 61%;
	margin-right: 7%;
	font-family: Arial,Helvetica,sans-serif;
	box-shadow: 2px 3px 10px #ececec inset;
	border-radius: 3px;
	background: #fff none repeat scroll 0 0;
	height: 30px;
}
.reviews-form .jq-selectbox{
	text-align: left;
	vertical-align: middle;
	margin-right: 40%;
	background: #dce7e3;
	width: 100px;
	height: 29px;
	padding: 7px 45px 0 10px;
	border-top: 1px solid #fff;
	
}
.reviews-form .jq-selectbox__trigger{
	border-left: none;
}
.reviews-form .jq-selectbox__select:hover{
	background: #dce7e3;
}
.reviews-form  .jq-selectbox__trigger{
	right: -45px;
    top: -6px;
}
.reviews-form .jq-selectbox__select-text{
	padding: 0 5px;
}
.reviews-form .jq-selectbox__dropdown{
	left: 0;
    margin-top: 9px;
    width: 155px !important;
	border-radius: 0;
}
.rf-span-text{
	height: 160px;
	border: 1px solid #e3e3e3;
	width: 61%;
	margin-right: 7%;
	font-family: Arial,Helvetica,sans-serif;
	box-shadow: 2px 3px 10px #ececec inset;
	border-radius: 3px;
	background: #fff none repeat scroll 0 0;
	resize: none;
}
.reviews-form-wrapper{
	position: none;
}
.reviews-form-wrapper:after{
	content: "";
	display: block;
	clear: both;
}
/*end reviews-form*/

/*start about text styles main page*/
.fs15{
    font-size: 15px;
}
.row-fluid .span8 {
    width: 48.883%;
}
.row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.07447%;
    min-height: 30px;
    width: 100%;
}
ul.plus {
    list-style: outside none none;
    margin: 0 !important;
    padding: 0;
}

.plus li {
    background: transparent url("../images/plus_ico.png") no-repeat scroll 0 0;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 20px;
}
/*end about text styles main page*/
/* Footer
-----------------------------------------------------------------------------*/
.footer {

}
.footer-content{
    min-height: 100px;
     padding-left: 23px;
    padding-right: 23px;
}
.footer-wrapper, .footer-content.container {
    background: rgba(0, 0, 0, 0) url("../images/footer-bg.png") repeat scroll 0 0;
}
.footer-content .footer-cell {
    display: inline-block;
    vertical-align: middle;
}
.footer .contact-phone {
    border-right: 2px solid #fff;
    color: #fff;
    font-size: 26px;
    padding-right: 20px;
    position: relative;
}
.footer .contact-phone:after{
    display: block;
    content: "";
    height: 19px;
    width: 12px;
    position: absolute;
    left: 0px;
    top: 4px;
    background-image:url(../images/bottom_phone.png);
    background-repeat: no-repeat;
}
.footer .contact-block.footer-cell > div {
    display: inline-block;
    margin-top: 15px;
     padding-left: 30px;
}
.footer .contact-adress{
    color: #fff;
    line-height: 1.4;
    position: relative;
    top: 3px;
}
.footer .social-icons li {
    display: inline-block;
}
.footer .social-icons li a{
    padding-left: 15px;
    padding-right: 15px;
}
.footer .social-icons {
    margin-top: 40px;
}
.footer .soc-icon-block.footer-cell {
    text-align: right;
    width: 20%;
}
.footer .vk-icon{
    background-image:url(../images/vk_bottom_icon.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 22px;
    display: block;
}
.footer .fb-icon{
    background-image:url(../images/facebook_bottom_icon.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 22px;
    display: block;
}
.footer .tw-icon{
    background-image:url(../images/twitter_bottom_icon.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 22px;
    display: block;
}
footer .copyright {
    color: #000;
    padding: 10px 23px 30px;
}

footer .copyright .copy_text {
    float: left;

}
footer .copyright {
    color: #000;
}

footer .copyright .site_creator {
    float: right;
}
footer .copyright .site_creator a {
    text-decoration: none;
}
.footer-content.container::after {
    clear: both;
    content: "";
    display: block;
}
.site_creator a {
    border-bottom: 1px solid;
    text-decoration: none;
}
@media (max-width: 1579px){
    .catalog-list-wrapper.list-view .catalog-list-cell{
        margin-left: 1.7%;
        width: 23.4%;
    }
    .catalog-list-wrapper.list-view .catalog-list-cell:first-child,
    .catalog-list-wrapper.list-view .catalog-list-cell:nth-child(6){
        margin-left: 0px;
    }
    .catalog-list-wrapper.list-view .catalog-list-cell:nth-child(7){
        margin-left: 1.7%;
    }
}
@media (max-width: 1547px){
    .hit-product .product-cell {
        height: auto;
    }

 }
 @media (max-width: 1543px){
    .new-product-slider .slick-slide img, .hit-product img {   
        width: auto;
    }

 } 
@media (max-width:1500px) {
    .city-block {
        padding-left: 0%;
    }
    .price-list-block {
        width: 15%;
    }
    .basket-small.block-item {
        width: 15%;
    }
    .reviews-block {
        width: 20%;
    }

    header .select_city {
        padding-left: 0;
    }
}
@media (max-width: 1271px){
    .hit-product .product-cell {
        width: 31%;
        height: auto;
        display: none;
    }
    .hit-product .product-cell:first-child, 
    .hit-product .product-cell:nth-child(2),
    .hit-product .product-cell:nth-child(3){
        display: inline-block;
    }
    .city-block {
        display: inline-block;
        text-align: center;
        width: 36%;
    }
    .catalog-list-wrapper.list-view .catalog-list-cell{
        margin-left: 2%;
        width: 32%;
    }
    .catalog-list-wrapper.list-view .catalog-list-cell:first-child,
    .catalog-list-wrapper.list-view .catalog-list-cell:nth-child(5){
        margin-left: 0px;
    }
    .catalog-list-wrapper.list-view .catalog-list-cell:nth-child(6){
        margin-left: 2%;
    }
    .catalog-list-wrapper.list-view .catalog-list-cell:nth-child(7){
        margin-left: 2%;
    }
    .catalog-list-wrapper.list-view .catalog-list-cell .catalog-list-img  img{
       
    }
 }
 @media(max-width: 1374px){
    .catalog-list-wrapper.table-view .catalog-list-buy-row {
        padding-right: 30px;
        text-align: right;
    }
 }
 @media(max-width: 1257px){
    .catalog-list-wrapper.table-view .catalog-list-input {
        padding-right: 10px;
        text-align: center;
        vertical-align: middle;
        width: 25%;
    }
 }
 @media(max-width: 1200px){
    .catalog-list-wrapper.table-view .catalog-list-img {
        padding-left: 10px;
    }

    .product-detail-wrapper .product-image img {
        width: 100%;
    }   
    .product-detail-wrapper .left-block {
        float: left;
        margin-right: 8%;
        width: 45%;
    }
 } 
 @media(max-width: 1156px){

    .catalog-list-wrapper.table-view .store-count-row {
        margin-top: -10px;
    }
 }
  @media(max-width: 1120px){
    .catalog-list-wrapper.table-view .catalog-list-cell .product-wrapper2 > div:first-child{

    }
    .catalog-list-wrapper.table-view .catalog-list-name{

    }
    .catalog-list-wrapper.table-view .catalog-list-count {
        display: block !important;
        position: absolute;
        right: 180px;
        top: 10px;
    }
     .catalog-list-wrapper.table-view .catalog-list-input {
        padding-top: 50px;
    }   

    .catalog-list-wrapper.table-view .catalog-list-count-item {
      
    }
    .catalog-list-wrapper.table-view .catalog-list-buy-row {
        padding-right: 20px;
        text-align: right;
    }

    .catalog-list-wrapper.table-view .catalog-list-img img{
        width: 90%;
    }
    .catalog-list-wrapper.table-view .catalog-list-input {
        padding-right: 10px;
    }
    .catalog-list-wrapper.table-view .catalog-list-count-item {
    }
    .catalog-list-wrapper.table-view .catalog-table.section-name{
        display: none;
    }
    .catalog-list-wrapper.table-view .addtocart {
        margin-top: 25px;
    }
    .catalog-list-wrapper.table-view .catalog-list-buy-row {
        width: 25%;
    }
 }
 @media (max-width:1085px) {
    .main-slider .slide-image img {
        width: 100%;
    }
     .city-block {
        margin-bottom: 20px;
        text-align: left;
        width: 100%;
    }  

    .top-right-block {
        width: 73%;
    }
    .footer-content{
        width: auto;
        min-width: auto;
        max-width: auto;
    }
    .footer .soc-icon-block.footer-cell {
        text-align: right;
        width: 12%;
    }

    .footer .social-icons li a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bottom-menu-wrapper.footer-cell {
        float: right;
        width: 30%;
    }
 } 
 @media (max-width: 1006px){
    .catalog-menu .nav_list .root-item > a {
        font-size: 16px;
        padding: 7px 6px;
    }
    .catalog-menu h3 {
        font-size: 19px;
    } 

    .body-wrapper {
        padding: 0;
    } 

    .logo-wrapper {
        padding-left: 0;
    }
    .corner1, .corner2, .corner3, .corner4, .corner5, .corner6, .corner7 {
        display: none;
    }
    .logo-wrapper {
        width: 32%;
    }
    .top-right-block {
        width: 68%;
    }
    .reviews-block {
        width: 30%;
    }
    .basket-small.block-item {
        width: 19%;
    }
    .price-list-block {
        width: 22%;
    }
    .search-inputs{
        margin-left: 10px;
    }
    .footer .soc-icon-block.footer-cell {
        text-align: right;
        width: 40%;
    }
    .bottom-menu-wrapper.footer-cell {
        float: right;
        width: 38%;
    }
 }
 @media (max-width:950px) {
    .footer-content .footer-cell {
        text-align: center;
    }
    .footer .social-icons {
        margin-top: 10px;
    }
}
@media (max-width: 783px){
    .top-menu-wrapper {
        float: none;
        margin: 0;
        padding-left: 15px;
        text-align: left;
    }
}
@media (max-width: 768px){
    .main-slider{
        display: none;
    }
    .left-content{
        display: none;
    }
    .content{
        float: none;
        width: 100%;
    }
     .search-inputs .div-cell-input:nth-child(2), .search-inputs .div-cell-input:nth-child(3){
        display: none;
    }
    .cat-menu-bt{
        display: inline-block;
    }
    .cat-menu-mobile{
        display: table-cell;
    }
}
@media (max-width: 680px){
    .top-right-block {
        width: 95%;
    }
    .logo-wrapper {
        margin-bottom: 25px;
        width: 50%;
    }
    .bottom-menu-wrapper.footer-cell {
        float: right;
        width: 60%;
    }
}
@media (max-width: 570px){
    .catalog-list-wrapper.table-view .catalog-list-cell .product-wrapper2 > div.catalog-list-img{
        display: none;
    }
    .catalog-list-wrapper.table-view .product-wrapper2.table-header > div:nth-child(1){
        display: none;
    }
    .catalog-list-wrapper.table-view .catalog-list-name {
        width: 45%;
        padding-left: 20px;
    }
    .catalog-list-wrapper.table-view .addtocart {
        margin-left: 1px;
    }
    .catalog-list-wrapper.table-view .catalog-list-name {
        width: 35%;
    }
    .catalog-list-wrapper.table-view .catalog-list-input {
        width: 30%;
    }
    .catalog-list-wrapper.table-view .catalog-list-buy-row {
        width: 35%;
    }
    .product-detail-wrapper .left-block {
        float: left;
        margin-right: 3%;
        width: 43%;
    }
    .product-detail-wrapper .right-block {
        float: left;
        width: 48%;
    }
}
@media (max-width: 480px){
    .basket-small.block-item {
        width: 26%;
    }
    .reviews-block {
        width: 45%;
    }
    .price-list-block {
        margin-top: 13px;
        padding-left: 40px;
        width: 25%;
    }
    .logo-wrapper {
        margin-bottom: 25px;
        width: 75%;
    }
    .footer .soc-icon-block.footer-cell {
        text-align: center;
        width: 100%;
    }

    .bottom-menu-wrapper.footer-cell {
        float: none;
        text-align: center;
        width: 100%;
    }
    .catalog-list-wrapper.table-view .catalog-list-input {
        padding-top: 20px;
    }

    .product-detail-wrapper .right-block {
        float: left;
        width: 62%;
    }

    .product-detail-wrapper .left-block {
        float: left;
        margin-right: 1%;
        width: 35%;
    }
}
@media(max-width: 410px){
    .catalog-list-wrapper.table-view .catalog-list-count {
        right: 148px;
        top: 10px;
    }
}

